<a href="https://colab.research.google.com/github/Rishabh29999/PYTHON/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#write a python program to print all elements in a list
fruits=["banana","pineapple","guvava"]
for x in fruits:
  print(x)

banana
pineapple
guvava

In [ ]:
#write a program to print each char of a string
for x in "banana":
  print(x)

b
a
n
a
n
a

In [ ]:
#write a p program to count occurances of a specific letter in a string
a=input("Enter a string: ")
letter=input("Enter a letter a count: ")
count=0
for char in a:
  if char==letter:
    count=count+1
    print(count)

Enter a string: apple
Enter a letter a count: p
1
2

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
sum=0
for r in a:
  sum=sum+r
  print(sum)

1
3
6
10
15
21
28
36
45

In [ ]:
#write a program to reverse a program using for loop
a=input("Enter a string:")
reversed_text=""
for char in a:
   reversed_text=char
   +reversed_text
print(reversed_text)

Enter a string:hello
olleh

In [ ]:
#write a python program to convert upper to lower and lower to upper case
text=input("for upper case")
upper_case=""
for char in text:
  upper_case= upper_case + char.upper()
print(upper_case)

for upper casetell
TELL

In [ ]:
#write a python program to remove vowels from a string
text=input("Enter a string: ")
result=""
for char in text:
  if char.lower() not in 'aeiou':
    result=result+char
    print("string without vowel",result)

Enter a string: apple
string without vowel p
string without vowel pp
string without vowel ppl

In [ ]:
n=int(input("Enter number: "))
for i in range(1,n+1):
  print(i)

Enter number: 7
1
2
3
4
5
6
7

In [ ]:
num=int(input("Enter a number: "))
for i in range(1,11):
  print(f"{num}x{i} = {num * i}")

Enter a number: 11
11x1 = 11
11x2 = 22
11x3 = 33
11x4 = 44
11x5 = 55
11x6 = 66
11x7 = 77
11x8 = 88
11x9 = 99
11x10 = 110

In [ ]:
#print number in reverse order
n=int(input("Enter a number:"))
total = 0
for i in range(1,n+1):
  total +=i
  print("Sum:",total)

Enter a number:5
Sum: 1
Sum: 3
Sum: 6
Sum: 10
Sum: 15

In [ ]:
#write a prog to square of n numbers

In [ ]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [ ]:
for x in range(5,0,-1):
  print(x)
else:
  print("finished")

5
4
3
2
1
finished

In [ ]:
#while loop
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#pattern
n=int(input("Enter no. of rows"))
i=1
while i<=n:
  print(' '.join(str(x) for x in range(1,i+1)))
  i += 1

Enter no. of rows5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5